@media screen and (max-width:900px){
    .navbar-nav{
        width:0;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: .2s ease all;
    }
    .menu-opened{
        width: 100%;
    }
    .ulholder{
        display: flex;
        flex-direction: column;
    }
    .navbar-nav a{
        display: flex !important;
        flex-direction: row;
        margin: 10px 0;
    }
    .tags{
        display: block !important;
        align-items: center;
        display: flex;
        margin-left: 10px;
    }
    .burger{
        display: block !important;
        z-index: 4;
    }
    section{
        padding: 80px 10px;
    }
    .bg-light .row ul{
        width: 100% !important;
    }
}
@media screen and (max-width:1200px){
    .about-img{
        margin: auto !important;
        margin-bottom: 20px !important;
    }
    section{
        padding: 80px 30px;
    }
    .price-card{
        margin-bottom: 60px !important;
    }
    h1{
        font-size: 2em !important;
    }
    .abt{
        flex-direction: column;
    }
    .abt-row{
        width: 100% !important;
    }
    .abt-p{
        width: 100% !important;
    }
}
@media screen and (min-width:1200px){
    /*middle price card */
    .ctr{
        transform: scale(1.2) !important;
    }
}
